<section id="about" class="inner">
	<h2 class="content title">about me</h2>
	<%= image_tag("iceland_pic.jpeg", alt: 'Iceland Pic', class: "selfie") %>
	<p>
		People say that the ones who are crazy enough to think they can change the world are usually the ones who do. While it's safe to say I'll never go down in the history books, as a great, fearless leader, I like to think that by building software, I am aligning myself with a future that is impacting the world in a positive, meaningful way.
	</p>
	<p>
		Like a great book, software can hold a mirror to the world and allow people to see more than themselves. 
	</p>
	<p>
		I love to learn, get better, and think that I'd make a good fit on your team.
	</p>
	<p>
		
	</p>
</section>