<section id="about" class="inner">
	<h2 class="content title">about me</h2>
	<%= image_tag("iceland_pic.jpeg", alt: 'Iceland Pic', class: "selfie") %>
	<p>
		These are the obligitory things that an about me is suppose to have: I mostly enjoy writing code, adding to my book collection - almost 400 now. My moving days are probably worst than yours. Watching movies - currently in awe of 
		<a href = "http://www.imdb.com/title/tt1935156/"><span class="purple"> Jodorowsky's Dune,</span></a> and like pretty much everyone, I like to travel. That's me in at <a href = "http://en.wikipedia.org/wiki/Gullfoss"><span class= "orange">Gullfoss Falls</span></a> in Iceland.
	</p>
	<p>
		Whether it be a small web app for your home business or crunching terabytes of data to tackel a complex national policy issue, I'm interested in helping you solve your problem.
	</p>
	<p>
		I love to learn, get better, and think that I'd make a good fit on your team.
	</p>
	<p>
		
	</p>
</section>