<section id="about" class="inner">
	<h2 class="content title">about me</h2>
	<%= image_tag("iceland_pic.jpeg", alt: 'Iceland Pic', class: "selfie") %>
	<p>
		These are the obligitory things that an about me is suppose to have: I mostly enjoy writing code, adding to my book collection - almost 400 now. My moving days are probably worst than yours. Watching movies - currently in awe of 
		<a href = "http://www.imdb.com/title/tt1935156/"><span class="purple"> Jodorowsky's Dune,</span></a> and like pretty much everyone, I like to travel. That's me in at <a href = "http://en.wikipedia.org/wiki/Gullfoss"><span class= "orange">Gullfoss Falls</span></a> in Iceland.
	</p>
	<p>
		Teaching is also something that I'm very interested in. Currently I volunteer at <span class="blue">GDI</span>. We cover everything from Ruby, Ruby on Rails, Javascript, to HTML and CSS. These courses range in difficulty and members chose which challenges they'd like to tackle. It's very rewarding to see people come in with varying programming skills, work hard, and have it pay off in the form of making a simple webpage or complete a tricky JS challenge. Although I don't have all the anwsers and often have to sit down and think through the problems right along side the student, I always learn so much from breaking something down, exposing weaknesses in my understanding as well as watching how other people approach problems. Programming is all about learning and they say you don't know it until you can teach it! Hopefully, this helps me better understand. 
	</p>
	<p>
		Whether it be a small web app for your home business or crunching terabytes of data to tackel a complex national policy issue, I'm interested in helping you solve your problem.
	</p>
	<p>
		I love to learn, get better, and think that I'd make a good fit on your team.
	</p>
	<p>
		
	</p>
</section>