
<section class="columns cover-letter">
	<h1 class="h2 inner content remove-bottom-margin">Hi, Jellyvision</h1>
	<h4>This is a site I made that'll hopefully show I'll be a great fit for the Jr. Developer position you have open.</h4>
	<ul class="project">
		<li class="inner">
			<p class="project-title">let's talk about me</p>
			<p class="cover-column">	
				<span class="blue">I am a software developer.</span> I want to make apps that help make life a bit easier. Apps that will clarify a confusing topic or assist in making an important decision. Software can be the tool that helps you lead a better, more well informed life.
			</p>

			<p class="cover-column">
				<span class="secondary-col">I am not just a developer.</span> I'm a book collector and literature enthusiast. While in high school I thought it would be neat to have a small library and have been on the hunt ever since. Thanks to Amazon, I now close to 300 which doesn't seem like a lot until moving day. They always leave me second guessing what I've done and why I continue to collect more.
			</p>

			<p class="cover-column">
				<span class="purple">I graduated from Dev Bootcamp.</span> I've been involved in technology for a few years, but never found a route that I was truly passionate about. After some thought, I decided to leave my job in St. Louis and take a chance to find something that I can look forward to everyday. 
			</p>

			<p class="cover-column">
				<span class="orange">I enjoy helping others learn.</span> Even after graduating, I’m still involved in the community. I volunteer as a mentor at GDI, and next month I start as a mentor at the StartUp Institute. I believe in helping others and being involved in these communities means a great deal to me. Although at times I feel woefully inadequate to help anyone with code, I always find that I learn a great deal by simply fielding questions or helping with syntax. At my previous job, I led a weekly meeting where I would field questions pertaining to the software the team was using. This often involved live coding, pair programming, and admitting when I didn't have the answer. 
    
			</p>
		</li>
		<li class="inner">
			<p class="project-title">let's talk about Jellyvision</p>
			<p class="cover-column">
				<span class="orange">You guys love what you do, and it shows!</span> Viewing your work it’s obvious why you did so well at this year's Moxie awards. From the blogs to the bios, you love your employees and the feeling is mutual. A clear indicator of this is the quality work your teams produce. Your work is both informative and educational and it’s clear that you have cultivated a culture of continual learning and teamwork.
			</p>
			<p class="cover-column">
				<span class="purple">Learning and growth. </span> I strive to be part of an environment where you’re encouraged to expand your skill set and grow as a developer. Learning is about discovery, curiosity and surrounding yourself with people who encourage these qualities. Your work communicates both. As a Jr. Developer my main goal is to get better at this craft, and you guys give people the support they need to make that happen.
			</p>
			<p class="cover-column">
				<span>When companies look for <span class="orange">Jr Developers,</span> it speaks volumes. The second thing it does is communicate that you understand Rome wasn’t built in a day. Learning takes time, and problem solving takes experience, but with the right foundation and proper guidance, anyone can get better and grow. 
			</p>
			<p class="cover-column">
				<span class="secondary-col">I'd love to be on your team.</span> I read that you want someone that knows how to work on a team, who's willing to listen to feedback, and wants to grow as a developer. Most importantly you want someone who is passionate about developement. As a Jr Developer I could bring a solid understanding of Ruby, Rails, and Javascript, an eagerness to learn, and an affinity for team work. I’m a Jr. Developer, and I would love to be part of your team.   
			</p>
			<p class="cover-column">
				<span class="blue">I'm your guy.</span> Shoot me an <a href="mailto:michael.ginalick@gmail.com">email</a> or give me a call (314-546-1424).
			</p>
		</li>
	</ul>
</section>