
<section class="columns cover-letter">
	<h1 class="h2 inner content remove-bottom-margin">hi</h1>
	<h4>It was great to speak you,</h4>
	<h4>and I'd love to talk about working together at ##############</h4>
	<ul class="project">
		<li class="inner">
			<p class="project-title">let's talk about me</p>
			<p class="cover-column">
				<span class="blue">I am a software developer.</span> I strive to make apps that help make life a bit easier. Maybe clarify a confusing topic or assist you in making an important decesion, software can be the tool that helps you lead a better, more well informed life.
			</p>

			<p class="cover-column">
				<span class="secondary-col">I am not just a developer.</span> I'm a book collector, and literature enthusiast. While in highschool I thought it would be neat to have a small library, and have been on the hunt ever since. Thanks to Amazon, I now have over 400, which doesn't seem like a lot until moving day. They always leave me second guessing what I've done, and why I continue to collect more.
			</p>

			<p class="cover-column">
				<span class="purple">I just graduated from Dev Bootcamp.</span> I've been involved in technology for a few years, but never found a route that I was truly passionate about. After some thought, I decided to leave my job in St. Louis and take a chance to find something that I can look forward to everyday. 
			</p>

			<p class="cover-column">
				<span class="orange">I learned how to learn.</span> Dev Bootcamp was like trying to drink out of a firehose. I came ready, but was often left feeling like a missed the bus. It was not until our final projects that I understood all that I had learned. While I didn't know how to do a lot of was asked of me at first, I quickly realized that I knew where to begin looking. Whether it be searching through the documentation of a technology, or reading through forums, I began to understand how to take what I know and apply it to things I don't.    
			</p>
		</li>
		<li class="inner">
			<p class="project-title">let's talk about Give Forward</p>
			<p class="cover-column">
				<span class="orange">You care about your craft.</span> Your website communicates really effectively, on all levels. Your user interface is intuitive. It's important to me to work with people who really care about the quality of their work. Your site is not just an online brochure, it tells a story, with glimpses of the people behind the product, and the people served by Give Forward.
			</p>
			<p class="cover-column">
				<span class="purple">You are doing work that really matters.</span> I love building websites, but I also care about what those websites are doing. It's important to me that my work is doing actual good for people. I'd much rather work on a product that makes the world a better place, rather than something that just micro-optimizes already comfortable lives.
			</p>
			<p class="cover-column">
				<span>I am excited about what Give Forward offers.</span> I have done a little bit of fundraising myself, and it's not an easy thing to do. There are people who want to spend their money to help others, and people who need funds to do really important things, but it's not always easy to connect the two parties. You're bridging that gap, and I want to help.
			</p>
			<p class="cover-column">
				<span class="secondary-col">I think we should work together.</span> You need someone who thinks that code should communicate to people as clearly as it communicates to the computer. You need someone who cares about the user experience and is going to have opinions about what it should look like and how it should work. You want someone who is passionate about the work that you do.
			</p>
			<p class="cover-column">
				<span class="blue">I'm your guy.</span> Shoot me an <a href="mailto:michael.ginalick@gmail.com">email</a> or give me a call (314-546-1424).
			</p>
		</li>
	</ul>
</section>