<section id="projects" class="columns">
  <h1 class="h2 inner content remove-bottom-margin">projects</h1>
	<ul class="project">
		<li class="inner">
			<p class="project-title"><a href="http://gasulator.herokuapp.com/">  Gasulator</a> <a href="https://github.com/michaelginalick/bespectacled_lampshade">
				<%= image_tag("logos/github-logo.png", alt: 'Github', class: "logo-img") %></a></p>
			<p class="content project-description">A site that helps simplify the process of buying a car by providing a better understanding of the true cost of owning a car. Input your home and work addresses, then choose a vehicle. The app will calculate the round trip commute distance and return a fuel cost by day, month and year.</p><br><br>
			<a class="work-link" href="http://gasulator.herokuapp.com/">
				<div id="twochez" class="project-box">
					<h4 class="project-tag black-scrim">Gasulator</h4>
				</div>
			</a>
		</li>
		<li class="inner">
			<p class="project-title"><a href="http://halfcourtpressdbc.herokuapp.com/">halfCourtPress</a> <a href="https://github.com/michaelginalick/stats_tracker"><%= image_tag("logos/github-logo.png", alt: 'Github', class: "logo-img") %></a></p>
			<p class="content project-description">halfCourtPress is a basketball educational tool used to collect various types of basketball statistics and display them in a form of a heatmap, giving users, players, and coaches feedback on their frequency. Collect the number of shots made, missed, rebounds, steals, blocks, and turnovers occurred and know the exact position of their occurrence.</p>
			<a class="work-link" href="http://halfcourtpressdbc.herokuapp.com/">
				<div id="first-world-problems" class="project-box">
					<h4 class="project-tag black-scrim">halfCourtPress</h4>
				</div>
			</a>
		</li>
		<li class="inner" id="new_project">
			<p class="project-title"><a href="https://homelibraryapp.herokuapp.com/">HomeLibraryApp</a> <a href="https://github.com/michaelginalick/libraryapp"><%= image_tag("logos/github-logo.png", alt: 'Github', class: "logo-img") %></a></p>
			<p class="content project-description">An application that allows you to seed your library via a CSV import. Friends can create an account, view all your books, and checkout the ones they like. They will recieve an automated text reminding them when the book is due. Users can also view the books' Goodreads score and synopsis via the Goodreads API. It also includes an administration side that tracks all book activity.</p>
			<a class="work-link" href="https://homelibraryapp.herokuapp.com/">
				<div id="first-world-problems" class="project-box">
					<h4 class="project-tag black-scrim">HomeLibraryApp</h4>
				</div>
			</a>
		</li>
		<li class="inner" id="newest_project">
			<p class="project-title"><a href="https://github.com/michaelginalick/ctaapp">CTA Tracker</a> <a href="https://github.com/michaelginalick/ctaapp"><%= image_tag("logos/github-logo.png", alt: 'Github', class: "logo-img") %></a></p>
			<p class="content project-description">An application that allows you to pick your train, the times you'll be coming or going, and recieve a text with the chosen train schedule. User login in, AJAX for creation, and deletion of trains. All CTA lines available for schedule with the help of CTA API. Made with the help of the Twillio API, Nokogiri, and Sidekiq for job execution.This is still a work in progress but should be done and hosted soon. In the mean time checkout the repository on Github.</p>
			<a class="work-link" href="https://github.com/michaelginalick/ctaapp/">
				<div id="first-world-problems" class="project-box">
					<h4 class="project-tag black-scrim">CTA Tracker</h4>
				</div>
			</a>
		</li>
	</ul>
</section>
