<section id="resume" class="content inner">
	
	<h1 class="h3">Michael Ginalick</h1>
	<ul class="contact content remove-top-margin">
		<li>
			<p><span class="blue">email:</span> michael.ginalick@gmail.com</p>
		</li>
		<li>
			<p><span class="blue">phone:</span> 314-546-1424</p>
		</li>
		<li>
			<p><span class="blue">github:</span> <a href="https://github.com/michaelginalick">github.com/michaelginalick</a></p>
		</li>
		<li>
			<p><span class="blue">resume download:</span> <%= link_to 'pdf version', download_pdf_path %></p>
		</li>
	</ul>

	<article class="summary">
		<h2 class="h4 resume-heading content">summary</h2>
		<p class="text-left">
			A career isn't about simply having a job that you're good at. It's carving a path where you're constantly learning and evolving. I'm committed to being a part of a team where learning is encouraged and supported. It's important to me to contribute to an environment where there is encouragement to use the right technology to problem solve instead of a technology that may be more familiar and take less time.<br><br> 

			I care about the technologies I use, understanding that every language and framework have inherent strengths and weaknesses, and they are only as valuable as the team behind them.<br><br>

			I care about the people around me, teaching each other, and maximizing our potential. Not only to solve the current problems, but also setting up future problems to be easier to solve by writing maintainable, test driven code.
		</p>
	</article>

	<article class="skills">
		<h2 class="h4 resume-heading content">skills</h2>
		<p class="skill">
			<span class="blue">languages:</span> Ruby, Javascript, HTML5, CSS3, VB Script
		</p>
		<p class="skill">
			<span class="blue">web frameworks:</span> Rails, Sinatra
		</p>
		<p class="skill">
			<span class="blue">testing frameworks:</span> Rspec, Jasmine, Capybara
		</p>
		<p class="skill">
			<span class="blue">database:</span> SQL, Activerecord, Oracle, Postgres
		</p>
		<p class="skill">
			<span class="blue">other important things:</span> version/workflow control with git, test- and behavior-driven development
		</p>
	</article>

	<article class="education">
		<h2 class="h4 resume-heading content">education</h2>
		<p class="skill">
			<span class="blue">BS:</span> Information MGMT systems, University of Missouri St. Louis
		</p>
	</article>

</section>