/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none; }

/*
Spacing & Blocking
 */
html,
body {
  text-align: center; }

.center-child {
  text-align: center; }

.content {
  margin-top: 10%;
  margin-bottom: 10%; }

.middle {
  margin-top: 25%; }

.contain {
  overflow: hidden; 
}

.inner {
  padding: 5%; }
  @media (min-width: 767px) {
.inner  {
      padding: 3% 5%; } 
  }

  #new_project {
    margin-right: 48%;
  }

.row {
  width: 100%;
  height: auto;
  position: relative; 
}

.right-half {
  width: 50%;
  height: 100%;
  position: absolute;
  left: auto;
  right: 0; 
}

.left-half {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  right: auto; 
}

@media (max-width: 767px) {
  .right-half, .left-half {
    min-width: 100%;
    height: 50%;
    position: relative; }

.row {
    min-height: 100%;
    height: auto; } 
}

.pull-right {
  float: right; 
}

.pull-left {
  float: left; 
}

.white-scrim {
  background-color: rgba(255, 255, 255, 0.5); 
}

.black-scrim {
  background-color: rgba(0, 0, 0, 0.5); 
}

.remove-top-margin {
  margin-top: 0; 
}

.remove-bottom-margin {
  margin-bottom: 0; 
}

/*
Modals
 */
.modal {
  display: none;
  text-align: center;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  overflow: scroll;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(10, 10, 10, 0.85); 
}

.modal h1,
.modal h2,
.modal h3,
.modal h4,
.modal h5,
.modal h6,
.modal p {
  text-align: left; }
.modal h1 {
  font-size: 2em; }
.modal h2 {
  font-size: 1.8em; }
.modal p {
  font-size: 1.5em; }

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid transparent; 
}

a:hover {
  border-bottom: 2px solid #444444;
  color: #444444;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s; 
}

html,
body {
  font-family: "Josefin Slab", serif;
  color: #345975; }

p {
  font-size: 1.5em;
  font-family: "Josefin Slab", serif;
  line-height: 1.35em; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

h1, .h1 {
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em; 
}

h2, .h2 {
  font-size: 2.5em; 
}

h3, .h3 {
  font-size: 2em; 
}

h4, .h4 {
  font-size: 2em;
  text-transform: none; 
}

h5, .h5 {
  font-size: 1.5em; 
}

h6, .h6 {
  font-size: 1.5em;
  text-transform: none; 
}

.dark {
  color: #444444; 
}

.dark-back {
  background-color: #444444; 
}

.light {
  color: #eeeeee; 
}

.light-back {
  background-color: #eeeeee; 
}

.primary-col {
  color: #345975; 
}

.secondary-col {
  color: #ef290b; 
}

.orange {
  color: #f7be7a; 
}

.blue {
  color: #67bde9; 
}

.green {
  color: #58b6a9; 
}

.purple {
  color: #bd4de9; 
}

.btn {
  background-color: inherit;
  color: #67bde9;
  border: 2px solid #67bde9;
  padding: .5em 2em; 
}
.btn:hover, .btn:focus, .btn:active {
    border: 2px solid #444444;
    color: #444444; 
}

.btn-large {
  padding: .75em 2em;
  font-size: 2em; }

.btn-close {
  background-color: #222;
  color: #eeeeee;
  border-color: #eeeeee; 
}
.btn-close:hover, .btn-close:focus, .btn-close:active {
    border: 2px solid #fff;
    color: #fff; }

.hover-textbox {
  height: 100%;
  width: 100%;
  background-color: rgba(10, 10, 10, 0);
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block; 
}

.hover-textbox h3 {
  margin: 1em;
  color: transparent; 
}

.hover-textbox:hover {
  background-color: rgba(10, 10, 10, 0.65); 
}

.hover-textbox:hover h3 {
  color: #eee; 
}

header,
section,
footer {
  width: 100%;
  overflow: hidden; 
}

header {
  background-color: transparent;
  position: relative;
  top: 0; 
}

.nav {
  display: inline-block; }
  @media (min-width: 767px) {
    .nav {
      padding-right: 1em; } 
  }

.navbar {
  text-align: center; }
  @media (min-width: 767px) {
    .navbar {
      float: right; } 
  }

.nav li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
  padding: 2em 1em;
  color: #ddd; 
}

.nav-link {
  font-size: 1em; }
  @media (min-width: 767px) {
.nav-link {
      font-size: 1em; } 
  }

.logo-img, .logo-img-small {
  height: 2.5em;
  width: 2.5em;
  padding: .25em; 
}
  @media (min-width: 767px) {
    .logo-img, .logo-img-small {
      height: 3em;
      width: 3em; 
  	} 
  }

  @media (min-width: 1068px) {
    .logo-img, .logo-img-small {
      height: 4em;
      width: 4em; 
  	} 
  }

.logo-img-small {
  height: 1em;
  width: 1em;
  padding: 0; 
}

footer {
  color: #eeeeee;
  position: absolute; 
}
footer li {
  width: auto;
  padding: 2em;
  display: inline-block; 
}
footer li .btn {
  width: 100%; 
  }

#heartlander {
  max-width: 100%;
  max-height: 612px; 
}

.intro {
  margin-top: 5%; 
}
.intro p {
    font-size: 1.5em;
    text-align: left;
    padding-bottom: 1em; 
}
@media (min-width: 767px) {

.intro {
      margin-top: 3%; 
  }

.intro p {
      font-size: 1.8em; 
  		} 
    }

  @media (min-width: 1068px) {
    .intro {
      margin-top: 2%; }
      .intro p {
        font-size: 2.1em; } }
  @media (min-width: 1264px) {
    .intro {
      margin-top: 1%; }
      .intro p {
        font-size: 2.7em; } }

#about {
  margin-top: 5%; 
}

#about p {
    color: #345975;
    text-align: left;
    padding: 5%; 
}

#about .selfie {
    height: auto;
    width: 50%;
    border-radius: 100%;
    margin-bottom: 5%; 
}

@media (min-width: 767px) {
      #about .selfie {
        height: 25%;
        width: auto; 
        }
     }
@media (min-width: 1068px) {
      #about .selfie {
        height: 40%;
        border: 2px solid #345975;
        border-radius: .2em;
        margin: 3% 5% 2% 2%;
        float: right; 
    	} 
    }

@media (min-width: 767px) {
    #about {
      margin-top: 0; 
  }
    #about p {
        padding: 2% 5%; 
    	} 
    }

#resume {
  text-align: left; 
}

#resume .skill {
    margin-top: 1em; 
}

.contact p {
  text-align: left; 
}

.resume-heading {
  border-bottom: 2px solid #345975; 
}

.columns {
  margin-top: 5%; 
}
.columns li {
    display: inline-block;
    position: relative; 
}
@media (min-width: 767px) {
.columns li {
        width: 46%; } 
    }
@media (min-width: 767px) {
.columns {
	margin-top: 0; }
.columns p {
        padding: 2% 4%; } 
    }

.project-title {
  font-size: 4em;
  font-weight: 700;
  padding: 1em;
  border-bottom: 2px solid #345975; 
}

.project-description {
  text-align: left;
  font-style: italic;
  overflow: hidden;
  min-height: 40%;
  height: auto; 
}
.project-description p {
    position: absolute;
    top: 0; 
}

.project-box {
  height: 40%;
  width: auto;
  min-width: 30%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.project-box .project-tag {
    position: absolute;
    bottom: 10%;
    left: 0;
    color: #eeeeee;
    padding: .5em; 
}


#scroll {
  background-image: url("/assets/images/scroll.jpg"); 
}

.cover-letter li {
  vertical-align: top; 
}

.cover-letter .cover-column {
  text-align: left;
  font-style: italic;
  overflow: hidden;
  height: auto;
  position: relative;
  top: 0; }